.body, html {
   height: 90%;
   background-repeat: no-repeat;
   background: url('/img/PNG-HD-wallpaper-rick-sanchez-morty-smith-in-starry-sky-background-rick-and-morty.png') no-repeat center center fixed;
   background-size: 100% 100%;
}

.App {
   text-align: center;
   
}

.button {
   color: yellow;
}
